@font-face {
  font-family: 'GohuFont';
  src: local('GohuFont'), url('gohu.woff2') format('woff2'),
    url('gohu.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
